<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alignment Literature Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}"/>
  </head>

  <body>
    
    <div style="width:100%; padding:5px" >
  
    <h1 id="title">Alignment Literature Search</h1>
    <p id="status"></p>
      <input type="search" id="query" name="question" value="{{ query }}">
      <div id="results" class="dropdown-content show">
        {% for item in results %}
          <a href="{{ item.url }}" target="_blank"><h3>{{ item.title }}</h3><br>
            ({{ '{0:.2f}'.format(item.score) }}) {{ item.abstract }}</a>
        {% endfor %}
      </div>
    </div>
  
    </body>
    <script>
      const TITLE = document.getElementById('title');
      const STATUS = document.getElementById('status');
      const QUERY = document.getElementById('query');
      const RESULTS = document.getElementById('results');
      const ANCHORS = RESULTS.getElementsByTagName('a');
      // const QUERY_URL = "http://127.0.0.1:5000/api/search?query="
      const QUERY_URL = location.href + "api/search?query="

      QUERY.addEventListener('keyup', semanticSearch);

      async function semanticSearch()
      {
        STATUS.innerText = "";
        
        apicall = QUERY_URL + encodeURIComponent(QUERY.value);
        console.log("apicall", apicall);
        let f = await fetch(apicall);
        let text = await f.text();
        response = JSON.parse(text);
        // console.log("response", response);

        let k = 5
        // print top k results
        for (let i = 0; i < k; i++)
        {
          ANCHORS[i].href = response[i]["url"]
          ANCHORS[i].innerHTML = 
          `<h3>${response[i]["title"]}</h3><br>(${response[i]["score"].toFixed(2)}) ${response[i]["abstract"]}<br>`
        }
      }

    </script>
</html>